html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: PolySans;
  font-weight: 400;
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23242a;
}

button {
  font-family: PolySans;
  font-weight: 400;
  font-size: 1em;
}

input {
  font-family: PolySans;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Necessary for ace override */
.ace-merbivore .ace_marker-layer .ace_selection {
  background: var(--background-color) !important;
}

.ace_highlighted_text {
  position: relative;
  color: #a9fc50;
  font-weight: bold;
}

.ace_highlighted_text:after {
  content: '';
  position: absolute;
  border-radius: 20px;
  background: rgba(47, 51, 57, 0.6);
  z-index: -1;
  top: -2px;
  left: -4px;
  bottom: -2px;
  right: -4px;
  height: calc(100% + 4px);
}