html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: PolySans;
  font-weight: 400;
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23242a;
}

button {
  font-family: PolySans;
  font-weight: 400;
  font-size: 1em;
}

input {
  font-family: PolySans;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Necessary for ace override */
.ace-merbivore .ace_marker-layer .ace_selection {
  background: var(--background-color) !important
}