.root

.body
  row-gap: 16px !important

.subtitle
  margin-bottom: 32px

.btn
  width: 100%
  padding: 24px
  justify-content: space-between

  > *
    color: var(--text-color-title)
    font-family: PolySans-Normal

.description
  line-height: 22px
  margin-bottom: 20px
