.root
  height: 100%
  width: 100%
  overflow: hidden

.loading
  margin: auto

.title
  font-weight: 600
  font-size: 40px

.header
  margin-bottom: 40px
  display: flex
  justify-content: space-between

.content
  height: 100%
  width: 100%

.tabs
  margin-bottom: 20px

.tab
  border-radius: 16px
  text-transform: capitalize
  margin-right: 12px

  &:not(.selected_tab)
    opacity: 0.4

.bottom
  flex-direction: row
  height: 100%
  width: 100%
  overflow: hidden

.nav
  height: 100%
  width: 20%
  padding: 24px
  margin-right: 24px

.details
  padding: 24px
  height: 100%
  width: 100%
