.root
  height: 100%
  overflow: auto
  display: block
  width: 100%

.form
  position: relative
  height: auto
  display: grid
  width: 1000px
  grid-template-columns: 1fr 1fr
  grid-template-rows: repeat(3, min-content)
  row-gap: 24px !important
  column-gap: 24px !important

.template_vars
  display: flex
  flex-direction: column

  > *
    width: 100%
    margin-bottom: 24px !important

.template_msg_input
  height: 166px

.name_input,
.amount_input,
.tabs,
.msg_input,
.template_input,
.template_vars,
.template_msg_input
  width: 100%

.name_input
  grid-row: 1
  grid-column: 1

.amount_input
  grid-row: 1
  grid-column: 2

.tabs
  grid-row: 2
  grid-column: 1

.msg_input
  grid-row: 3
  grid-column: 1 / span 2

.template_input
  grid-row: 3
  grid-column: 1

.template_vars
  grid-row: 4
  grid-column: 1

.template_msg_input
  grid-row: 3 / span 2
  grid-column: 2

.title_container
  position: relative
  display: flex
  width: 1000px
  flex-direction: column
  align-items: flex-start
  margin-bottom: 40px

.title
  font-weight: 600
  font-size: 40px

.jobs
  height: 100%

.back
  min-height: 0
  margin-top: 24px

.content
  height: 100%
  width: 100%

.bottom
  flex-direction: row
  height: 100%
  width: 100%

.description
  margin-top: 24px
  line-height: 22px

.msg_input
  height: 200px

.msg_input_inner
  height: calc(200px - 32px)

.tabs

.tab
  border-radius: 16px
  text-transform: capitalize
  margin-right: 12px

  &:not(.selected_tab)
    opacity: 0.4
