.hours
  display: grid
  grid-gap: 8px !important
  grid-template: auto / auto auto auto auto

.hour
  display: flex
  align-items: center
  color: var(--text-color-primary)
  padding: 0 !important
  min-width: 0